body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}

/* Main Section */
nav {
  background-color: #333;
  padding: 16px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

nav a {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

h1 {
  text-align: left;
  margin: 30px 30px;
}

.sec {
  max-width: 900px;
  margin: 0 auto 40px;
  text-align: center;
}

.description {
  max-width: 800px;
  margin: 0 auto 25px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid #333;
  border-radius: 10px;
}

.description p{
  text-align: left;
}

.task-title {
  margin: 20px 0 15px;
}

.task-list {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding-left: 22px;
}

.task-list li {
  margin-bottom: 10px;
  font-size: 15px;
}

.sec img {
  display: block;
  margin: 25px auto;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

form {
  margin-top: 25px;
}

input[type="text"] {
  padding: 9px;
  width: 250px;
}

input[type="submit"] {
  padding: 9px 18px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
