@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* ================= NAVBAR ================= */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #1e1e2f;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.navbar img {
  height: auto;
  max-height: 50px;
  object-fit: contain;
}

.navbar a {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  margin-left: 70px;
}

.navbar a:hover,
.navbar a.active {
  color: #6c63ff;
}

body {
  background: #f4f6fb;
  color: #333;
}

/* Container */
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 40px;
}

/* Card Layout */
.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
  color: #555;
}

button {
  padding: 12px 28px;
  border: none;
  background: #6c63ff;
  color: white;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #574ee3;
  transform: translateY(-3px);
}

/* Active Button */
#colorBtn.active {
  background: green;
}

.calculator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 120px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Output Text */
.output {
  margin-top: 10px;
  font-weight: 500;
  color: #1e1e2f;
}

/* NEXT PAGE BUTTON */
.next-page {
  text-align: center;
  margin: 60px 0 40px;
}

.next-btn {
  display: inline-block;
  padding: 14px 36px;
  background: #1e1e2f;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.next-btn:hover {
  background: #6c63ff;
  transform: translateY(-4px);
}
